/*General styles*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #1f2833;
    color: #c5c6c7;
    margin: 0;
    padding: 0;
}

section,
footer {
    margin: 0 0 0 120px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #47ffef;
    font-size: 50px;
    text-shadow: 0 0 3px #47ffef;
    font-weight: 300;
}

h2 {
    color: #47ffef;
}

/*Navigation*/

.nav-and-logo {
    position: fixed;
    height: 100%;
    width: 120px;
    z-index: 1;
    font-size: 0;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#logo img {
    width: 120px;
    height: auto;
    padding: 15px;
    border-bottom: 2px groove #1f2833;
}

#main-nav {
    font-size: 12px;
    padding: 0;
}

#main-nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    display: block;
    height: 90px;
    border-bottom: 2px groove #1f2833;

}

#main-nav ul li a {
    color: #c5c6c7;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

#main-nav ul li i {
    font-size: 30px;
}

.flaticon-home::before,
.flaticon-question::before,
.flaticon-body-building::before,
.flaticon-passport::before,
.flaticon-message::before {
    font-size: 30px;
    margin: 0;
}

#main-nav ul li span {
    display: block;
    margin: 5px 0 0 0;
}

#main-nav ul li:hover {
    background-color: #00242d;
    border-bottom: 2px groove black;
}

/*hover for all icons on home page*/

#main-nav ul li:hover span,
li:hover i,
#home span a i:hover {
    color: #47ffef;
    text-shadow: 0 0 5px #47ffef;
}

/*Home page*/

#home {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/home-page.jpg);
    background-position: center;
    background-size: cover;
    height: 635px;
}

#home header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home header h1 {
    animation: skip 2s infinite;
    font-size: 60px;
    margin: 10px 0 0 0;
    color: white;
}

#home header h2 {
    margin: 5px 0 0 0;
}

#home span a i {
    color: #c5c6c7;
}

.flaticon-download::before {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translateX(50%);
    animation: scroll-down 2s ease-out infinite;
}

/*Name animation*/

@keyframes skip {
    0% {
        text-shadow: 5px 0 0 #01eccb
    }
    3% {
        text-shadow: -5px 0 0 #01eccb
    }
    9% {
        text-shadow: 2px 0 0 #01eccb
    }
    10% {
        text-shadow: -10px 10px 0 #393cb3, 10px -10px 0 #01eccb
    }
    12% {
        text-shadow: 2px -0 0 #393cb3
    }
    20% {
        text-shadow: 5px 0 0 #393cb3
    }
    21% {
        text-shadow: -2px 0 0 #fdd862
    }
    23% {
        text-shadow: -5px 0 0 #fdd862
    }
    28% {
        text-shadow: 1px 0 0 #fdd862
    }
    35% {
        text-shadow: 6px 0 0 #01eccb
    }
    39% {
        text-shadow: -8px -6px 0 #01eccb, 8px 6px 0 #393cb3
    }
    40% {
        text-shadow: -7px 0 0 #01eccb
    }
    43% {
        text-shadow: 5px 0 0 #01eccb
    }
    47% {
        text-shadow: -2px 0 0 #393cb3
    }
    51% {
        text-shadow: 10px 10px 0 #393cb3, -10px -10px 0 #e052c2
    }
    55% {
        text-shadow: -3px 0 0 #393cb3
    }
    58% {
        text-shadow: 3px 0 0 #e052c2
    }
    61% {
        text-shadow: -6px 0 0 #e052c2
    }
    64% {
        text-shadow: -3px 0 0 #01eccb
    }
    69% {
        text-shadow: 7px 0 0 #01eccb
    }
    73% {
        text-shadow: 4px 0 0 #e052c2
    }
    76% {
        text-shadow: -8px -6px 0 #e052c2, 8px 6px 0 #fdd862
    }
    80% {
        text-shadow: 2px 0 0 #01eccb
    }
    81% {
        text-shadow: 6px 0 0 #01eccb
    }
    85% {
        text-shadow: -2px 0 0 #e052c2
    }
    89% {
        text-shadow: -6px 0 0 #e052c2
    }
    90% {
        text-shadow: 3px 0 0 #393cb3
    }
    93% {
        text-shadow: 6px 0 0 #393cb3
    }
    98% {
        text-shadow: 1px 0 0 #01eccb
    }
    100% {
        text-shadow: 2px 0 0 #e052c2
    }
}

/*Scroll down animation*/

@keyframes scroll-down {
    0% {
        top: 82%
    }
    40% {
        top: 77%
    }
    60% {
        top: 82%
    }
    80% {
        top: 80%
    }
    100% {
        top: 82%
    }
}

/*About*/

#about {
    background-image: linear-gradient(to bottom, rgba(0, 36, 45, 0.8), rgba(0, 36, 45, 0.8)), url(../img/o-mnie.jpg);
    height: 635px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#about div {
    text-align: center;
}

/*Contact*/

#contact {
    margin-bottom: 60px;
}

#contact h1 {
    text-align: center;
}

#contact #contact-info p {
    line-height: 28px;
}

#contact #contact-info p span {
    color: #47ffef;
    font-weight: bold;
}



#contact #form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


#contact .form-row {
    width: 50%;
    text-align: center;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact #contact-info #social-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

#contact #contact-info #social-icons-row a {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    display: block;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

#contact #contact-info #social-icons-row a i {
    font-size: 35px;
    color: #1f2833;
    z-index: 3;
}

#contact #contact-info #social-icons-row a:hover i {
    animation: iconRotation 0.5s linear both;
}

#contact #contact-info #social-icons-row a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #3b5999;
    z-index: 1;
}

#contact #contact-info #social-icons-row #linkedin:before {
    background-color: #0075b5;
}

#contact #contact-info #social-icons-row #github:before {
    background-color: #6e5494;
}

#contact #contact-info #social-icons-row #whatsapp:before {
    background-color: #25d366;
}

#contact #contact-info #social-icons-row #googleplus:before {
    background-color: #dd4b39;
}


#contact #contact-info #social-icons-row a:hover:before {
    top: 0%;
}

#contact form {
    margin-right: 80px;
    margin-left: 30px;
}

#contact #contact-info {
    margin-left: 80px;
    margin-right: 30px;
}

#contact .form-row input {
    border: 0;
    border-bottom: 1px solid;
    height: 30px;
    padding: 0 0 5px 10px;
}

#contact .form-row textarea {
    padding: 10px 0 0 10px;
}

#contact .form-row input,
textarea {
    margin-top: 25px;
    background-color: #1f2833;
    color: #fff;
    border-color: #c5c6c7;
}

#contact .form-row input::placeholder,
textarea::placeholder {
    color: #c5c6c7;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
}

#contact .form-row input:hover,
textarea:hover {
    border-color: #47ffef;
}

#contact .form-row input:focus,
input:active,
textarea:active,
textarea:focus {
    outline: none;
}

#contact .form-row input[type="submit"] {
    border: 1px solid #47ffef;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 25px 0 0 0;
    align-self: center;
}

#contact .form-row input[type="submit"]:hover {
    background-color: #47ffef;
    color: #1f2833;
}

#contact .form-row input[type="submit"]:active {
    transform: translateY(4px)
}

/*Social icons animation*/

@keyframes iconRotation {
    0% {
        transform: rotateY(0);
        color: #1f2833;
    }
    100% {
        transform: rotateY(360deg);
        color: white;
    }
}


/*Footer*/

footer {
    text-align: center;
    background-color: #47ffef;
    color: black;
    font-size: 10px;
    padding: 5px 0 5px 0;
}

footer p {
    margin: 0px;
}

footer p a {
    text-decoration: none;
    color: #a624a0;
}

footer p a:hover {
    color: #deafdc;
}