/*General styles*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #1f2833;
    color: #c5c6c7;
    margin: 0;
    padding: 0;
}

button,
input, textarea, input::placeholder, textarea::placeholder {
    font-family: 'Comfortaa', sans-serif;
}

button:focus, textarea:focus, input:focus, textarea:active, input:active  {
    outline: none;
}

/*buttons style - start*/

#about .parallax .text-container .btn-about,
#portfolio .slide-buttons a,
#contact .form-row input[type="submit"] {
    color: #c5c6c7;
    border: 2px solid #47ffef;
    box-shadow: 2px 2px 1px black;
    border-radius: 5px;
    text-shadow: 3px 3px 1px black;
}

#about .parallax .text-container .btn-about:hover,
#portfolio .slide-buttons a:hover,
#contact .form-row input[type="submit"]:hover {
    background-color: #47ffef;
    color: #1f2833;
    text-shadow: none;
    font-weight: bold;
}

#about .parallax .text-container .btn-about:active,
#portfolio .slide-buttons a:active,
#contact .form-row input[type="submit"]:active {
    transform: translateY(4px);
}

/*buttons style - end*/

section,
footer {
    margin: 0 0 0 120px;
}

h1 {
    color: #47ffef;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

h1,
h2 {
    text-shadow: 4px 4px 3px black;
}

a {
    color: #47ffef;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.parallax {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
}

/*Navigation*/

.nav-and-logo {
    position: fixed;
    height: 100%;
    width: 120px;
    z-index: 1;
    background-color: #000;
}

.nav-and-logo #logo img {
    width: 100%;
    height: auto;
    padding: 15px;
}

.nav-and-logo #main-nav {
    font-size: 12px;
}

.nav-and-logo #main-nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-and-logo #main-nav ul li {
    display: block;
    height: 90px;
}

.nav-and-logo #main-nav ul li a {
    color: #c5c6c7;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.flaticon-home::before,
.flaticon-question::before,
.flaticon-body-building::before,
.flaticon-passport::before,
.flaticon-message::before {
    font-size: 30px;
    margin: 0;
}

.nav-and-logo #main-nav ul li a span {
    display: block;
    margin: 5px 0 0 0;
}

/*hover for all icons on home page*/

.nav-and-logo #main-nav ul li:hover span,
.nav-and-logo #main-nav ul li:hover i,
.nav-and-logo #main-nav a.active,
#home span a i:hover {
    color: #47ffef;
    text-shadow: 0 0 5px #47ffef;
}

/*Home page*/

#home {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../img/home-page.jpg);
    background-position: center;
    background-size: cover;
    height: 635px;
}

#home header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home header h1 {
    margin: 10px 0 0 0;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-shadow: 0 0 20px #46f1d9;
    transform: rotate(-5deg);
    animation: skip 2s infinite;
}

#home header h2 {
    margin: 5px 0 0 0;
    transform: rotate(-5deg);
    color: #D901B4;
    text-shadow: 0 0 20px deeppink;
}

#home span a i {
    color: #c5c6c7;
}

.flaticon-download::before {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translateX(50%);
    animation: scroll-down 1s ease-out infinite;
}

/*Name animation*/

@keyframes skip {
    0% {
        text-shadow: 0 0 15px #46f1d9;
        color: #01eccb;
    }
    50% {
        text-shadow: 0 0 20px #01eccb;
        color: #01eccb;
    }
    100% {
        text-shadow: 0 0 15px #46f1d9;
        color: #01eccb;
    }
}

/*Scroll down animation*/

@keyframes scroll-down {
    0% {
        top: 82%
    }
    40% {
        top: 77%
    }
    60% {
        top: 82%
    }
    80% {
        top: 80%
    }
    100% {
        top: 82%
    }
}

/*About*/

#about {
    background-image: url(../img/1254A51A-0057-41D8-A978-C0A81BDE2A2A.JPEG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#about .parallax h1 {
    margin-bottom: 0;
}

#about .parallax .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#about .parallax .text-container .btn-about-question {
/*    width: 900px;*/
    background-color: transparent;
/*    text-align: left;*/
    border: none;
    color: #c5c6c7;
    text-shadow: 4px 4px 3px black;
    font-size: 26px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

#about .parallax .text-container .btn-about-question:hover {
    color: white;
    text-shadow: 0 0 5px black;
}

.flaticon-pointing-right::before {
    font-size: 35px;
}

#about .parallax .text-container .btn-about-question:nth-of-type(1),
#about .parallax .text-container .about-question:nth-of-type(1) {
    margin-left: 50px;
}

#about .parallax .text-container .btn-about-question:nth-of-type(2),
#about .parallax .text-container .about-question:nth-of-type(2) {
    margin-left: 100px;
}

#about .parallax .text-container .btn-about-question:nth-of-type(3),
#about .parallax .text-container .about-question:nth-of-type(3) {
    margin-left: 150px;
}

#about .parallax .text-container .btn-about-question:nth-of-type(4),
#about .parallax .text-container .about-question:nth-of-type(4) {
    margin-left: 200px;
}

#about .parallax .text-container span {
    color: #D901B4;
}

#about .parallax .text-container .btn-about-question:hover span {
    color: deeppink;
    text-shadow: 0 0 10px deeppink;
}

#about .parallax .text-container .about-question p {
    width: 900px;
    padding: 0 0 0 40px;
}

#about .parallax .text-container .write-to-me,
#about .parallax .text-container .btn-about {
    align-self: center;
    text-align: center;
}

#about .parallax .text-container .write-to-me {
    font-size: 18px;
    margin-top: 40px;
    font-style: italic;
    line-height: 30px;
    text-shadow: 3px 3px 1px black;
}

#about .parallax .text-container .btn-about {
    color: #c5c6c7;
    border: 2px solid #47ffef;
    box-shadow: 2px 2px 1px black;
    border-radius: 5px;
    margin: 20px 0 80px 0;
    width: 200px;
    padding: 10px;
    text-shadow: 3px 3px 1px black;
}

/*Skills*/

#skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#skills .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}

#skills .skills-container .skills-pack .skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills .skills-container .skills-pack:nth-of-type(2) .skills-icons {
    height: 200px;
}

#skills .skills-container .skills-pack .skills-icons .icon-with-name {
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills .skills-container .skills-pack .skills-icons .icon-with-name:hover {
    text-shadow: 0 0 8px #01eccb;
    transform: scale(1.5);
}


#skills .skills-container .skills-pack:nth-of-type(2) {
    flex-basis: 300px;
    margin-top: 50px;
}

#skills .skills-container .skills-pack .skills-icons .icon-with-name .all-skills-icons {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

#skills .skills-container .skills-pack .skills-icons .icon-with-name h3 {
    margin: 0;
    font-weight: 100;
}

.icon-html5 {
    background-image: url(../img/html.svg);
}

.icon-css3 {
    background-image: url(../img/css.svg);
}

.icon-rwd {
    background-image: url(../img/rwd.svg);
}

.icon-sass {
    background-image: url(../img/sass.svg);
}

.icon-javascript {
    background-image: url(../img/js.svg);
}

.icon-jquery {
    background-image: url(../img/jquery.svg);
}

.icon-git {
    background-image: url(../img/git.svg);
}

.icon-bootstrap {
    background-image: url(../img/bootstrap.svg);
}

.icon-gulp {
    background-image: url(../img/gulp.svg);
}

.icon-ajax {
    background-image: url(../img/ajax.svg);
}

.icon-wordpress {
    background-image: url(../img/wordpress.svg);
}

/*Portfolio*/

#portfolio .picture {
    height: 150px;
    background-image: url(../img/portfolio-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#portfolio .picture .parallax {
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
}

#portfolio .slider {
    position: relative;
    overflow: hidden;
    height: 500px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#portfolio .slider .slide-show {
    position: absolute;
    height: 100%;
}

#portfolio .slider .slide-show .single-slide {
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#portfolio .slider .slide-show .single-slide img {
    width: 50%;
    height: auto;
}

#portfolio .slider .slide-show .single-slide .slide-caption {
    width: 35%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    color: white;
}

#portfolio .slider .slider-arrows button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
    height: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.flaticon-back::before,
.flaticon-right-arrow-circular-button::before {
    color: transparent;
    font-size: 50px;
    margin: 0;
}

#portfolio .slider .slider-arrows button:hover .flaticon-back::before,
#portfolio .slider .slider-arrows button:hover .flaticon-right-arrow-circular-button::before {
    transition: color 0.5s ease-in-out;
    color: #47ffef;
}

#portfolio .slider .slider-arrows .prev-slide {
    position: absolute;
    left: 0;
}

#portfolio .slider .slider-arrows .next-slide {
    position: absolute;
    right: 0;
}

#portfolio .slider .slide-show .single-slide .slide-caption .slide-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#portfolio .slider .slide-show .single-slide .slide-caption .slide-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
}

/*Contact*/

#contact {
    margin-bottom: 60px;
}

#contact .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact .form-container .form-row {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-right: 30px;
}

#contact .form-container form {
    padding: 0 30px 0 0
}

#contact .form-container .form-row p {
    line-height: 28px;
}

#contact .form-container .form-row p span {
    color: #47ffef;
    font-weight: bold;
}

#contact .form-container .form-row .social-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

#contact .form-container .form-row .social-icons-row a {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    display: block;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

#contact .form-container .form-row .social-icons-row a i {
    font-size: 35px;
    color: #1f2833;
    z-index: 3;
}

#contact .form-container .form-row .social-icons-row a:hover i {
    animation: iconRotation 0.5s linear both;
}

#contact .form-container .form-row .social-icons-row a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #3b5999;
    z-index: 1;
}

#contact .form-container .form-row .social-icons-row #linkedin:before {
    background-color: #0075b5;
}

#contact .form-container .form-row .social-icons-row #github:before {
    background-color: #6e5494;
}

#contact .form-container .form-row .social-icons-row a:hover:before {
    top: 0%;
}

#contact .form-container form {
    margin-right: 80px;
    margin-left: 30px;
}

#contact .form-container form input {
    border: 0;
    border-bottom: 1px solid;
    height: 30px;
    padding: 0 0 5px 10px;
}

#contact .form-container form textarea {
    padding: 10px 0 0 10px;
}

#contact .form-container form input,
#contact .form-container form textarea {
    margin-top: 25px;
    background-color: #1f2833;
    color: #fff;
    border-color: #c5c6c7;
}

#contact .form-container form input::placeholder,
#contact .form-container form textarea::placeholder {
    color: #c5c6c7;
    font-size: 13px;
}

#contact .form-container form input:hover,
#contact .form-container form textarea:hover {
    border-color: #47ffef;
}

#contact .form-container form input[type="submit"] {
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 25px 0 0 0;
    align-self: center;
}

/*Social icons animation*/

@keyframes iconRotation {
    0% {
        transform: rotateY(0);
        color: #1f2833;
    }
    100% {
        transform: rotateY(360deg);
        color: white;
    }
}

/*Footer*/

footer {
    text-align: center;
    background-color: #47ffef;
    color: black;
    font-size: 10px;
    padding: 5px 0 5px 0;
}

footer p {
    margin: 0px;
}

footer p a {
    color: #a624a0;
}

footer p a:hover {
    color: #deafdc;
}