	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/07/2018 20:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-responsive-design-symbol:before { content: "\f100"; }
.flaticon-whatsapp:before { content: "\f101"; }
.flaticon-linkedin:before { content: "\f102"; }
.flaticon-github:before { content: "\f103"; }
.flaticon-google-plus:before { content: "\f104"; }
.flaticon-facebook:before { content: "\f105"; }
.flaticon-multimedia-option:before { content: "\f106"; }
.flaticon-down-arrow-2:before { content: "\f107"; }
.flaticon-download-3:before { content: "\f108"; }
.flaticon-down-arrow-1:before { content: "\f109"; }
.flaticon-down-arrow:before { content: "\f10a"; }
.flaticon-download-2:before { content: "\f10b"; }
.flaticon-download:before { content: "\f10c"; }
.flaticon-arrow:before { content: "\f10d"; }
.flaticon-design-skills:before { content: "\f10e"; }
.flaticon-skills-2:before { content: "\f10f"; }
.flaticon-body-building:before { content: "\f110"; }
.flaticon-skills-1:before { content: "\f111"; }
.flaticon-skills:before { content: "\f112"; }
.flaticon-passport:before { content: "\f113"; }
.flaticon-portfolio:before { content: "\f114"; }
.flaticon-message:before { content: "\f115"; }
.flaticon-home:before { content: "\f116"; }
.flaticon-question:before { content: "\f117"; }