
.icon-home:before { content: '\e800'; } /* '' */
.icon-monitor:before { content: '\e801'; } /* '' */
.icon-phone-outline:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-wrench:before { content: '\e804'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */